.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -10px;
}

.noResults {
  padding-top: 40px;
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(73, 73, 73);
}
