@import '../../../../mixins';

.input {
  width: 285px;
  height: 35px;
  padding: 0 30px 0 20px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  background-image: url("../../../../assets/images/search-icon.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 20px 20px;

  @include outline-none();

  @media (max-width: 480px) {
    width: 200px;
  }
}
