.buttonWatch {
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  border-radius: 5px;
  background-color: #0aaee4;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #0aade4be;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
