.movieDetailsInfo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;

  .title {
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  .genres {
    padding-right: 22px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    word-spacing: 20px;
    border-right: 1px solid #fff;
  }

  .duration {
    padding-left: 22px;
    color: #fff;
    font-size: 20px;
  }
}
