.movieDetailsInfo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;

  .title {
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  .genres {
    display: inline-block;
    padding: 0;
    color: #fff;
    font-size: 20px;
    border-right: 1px solid #fff;

    &__item {
      display: inline-block;
      padding-right: 20px;
    }
  }

  .duration {
    padding-left: 22px;
    color: #fff;
    font-size: 20px;
  }
}
