@mixin font-face($name, $file, $weight) {
  @font-face {
    font-family: "#{$name}";
    src: url("assets/fonts/#{$file}.woff") format("woff");
    font-weight: $weight;
  }
}

@include font-face("Helvetica Neue", "HelveticaNeue", normal);
@include font-face("Helvetica Neue", "HelveticaNeue-Light", lighter);
@include font-face("Helvetica Neue", "HelveticaNeue-Bold", bold);

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(32, 32, 32);
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}
