.buttonView {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #fff;
  cursor: pointer;

  &:hover {
    background-color: #ffffff38;
  }

  &:active,
  &:focus {
    outline: none;
  }
}
